* {
    box-sizing: border-box;
  }

  .start-container {
    display: flex;
  }
  
  .logo h4 {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0.6;
    text-align: center;
  }

  .logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
  }

  .login {
    display: flex;
    background: rgb(37, 117, 192);
    border-radius: 5px;
  }
 
  