* {
    box-sizing: border-box;
  }

  .start-container {
    display: flex;
  }
  
  .logo h4 {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.6;
    text-align: center;
  }

  .logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
  }

  .login {
    display: flex;
    background: #1496d2;
    border-radius: 5px;
  }
 
  /* seperator  */
  .seperator {
    display: flex;
    margin-top: 20px;
  }
  .seperator div {
    width: 33.3%;
  }
  .seperator2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0.6;
    font-size: 20px;
  }

  /* input css */
  /* input css */
input {
  width: 100%;
  padding: 12px;
  border: 0.05px solid grey;
  border-radius: 4px;
  margin: 5px 0;
  font-weight: bold;
  opacity: 0.6;
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
  font-family: Arial, Helvetica, sans-serif;
}

input:hover {
  opacity: 1;
}
.form-div {
  margin-top: 20px;
}