* {
    box-sizing: border-box;
  }

  .start-container {
    display: flex;
  }
  
  .logo h4 {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.6;
    text-align: center;
  }

  .logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
  }

  .login {
    display: flex;
    background: #1496d2;
    border-radius: 5px;
  }
 
  /* seperator  */
  .seperator {
    display: flex;
    margin-top: 20px;
  }
  .seperator div {
    width: 33.3%;
  }
  .seperator2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0.6;
    font-size: 20px;
  }

  /* input css */
  /* input css */
input {
  width: 100%;
  padding: 12px;
  border: 0.05px solid grey;
  border-radius: 4px;
  margin: 5px 0;
  font-weight: bold;
  opacity: 0.6;
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
  font-family: Arial, Helvetica, sans-serif;
}

input:hover {
  opacity: 1;
}

/* form div */
.form-div {
  margin-top: 20px;
}

.form-div p{
  font-weight: bold;
  opacity: 0.85;
  font-family: Arial, Helvetica, sans-serif;
  color: #8e8e8e;
  font-size: 20px;
  text-align: center;  
}

.learnmore {
  color: rgb(23, 23, 177);
  font-weight: bold;
}

/* style the submit button */
input[type=submit] {
  background-color: #047baa;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #559fbd;
}

.start-container2 .row {
  border: 0.05px solid grey;
}

.row2 p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;

}

.row2 span {
  color: blue;
}